# env
APP_TOKEN=
APP_ENV=prod

DB_HOST=localhost
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

SENTRY_DSN=https://8b0cd7d1538a44ed3fc442e7c36aab19@sentry.flyingletters.net/9

WEINSYS_URL=https://products.wein.systems
WEINSYS_KEY=xxx
